{% extends 'base.html' %}
{% block title %}
    <div class="container">
        <h1 class="text-center pt-4">{{ blog.title }}</h1>
        <p class="text-center">{{ blog.pub_date }}</p>
        <hr>
    </div>
    <div class="album py-5">
        <div class="container">
            <div>
                <img class="card-img-top" src="{{ blog.image.url }}" alt="">
                <br>
                <br>
                <p> {{ blog.body }}</p>
            </div>
        </div>
    </div>
{% endblock %}